<%= render "shared/second-header" %>
<div class="container">
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">
    新規登録
  </h2>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
      <%= form_with model: @target, local: true do |f| %>
        <div class="form-floating mb-3">
          <%= f.label :title ,class: "m-1"%>
          <br>
          <%= f.text_field :title,class: "form-control"%>
        </div>
        <div class="form-floating mb-3">
          <%= f.label :youtube ,class: "m-1"%>
          <br>
          <%= f.text_field :youtube ,class: "form-control"%>
        </div>
        <div class="form-floating mb-3">
          <%= f.label :exise ,class: "m-1"%>
          <br>
          <%= f.collection_select(:exise_category_id, Exise.all, :id, :name, {}, {class:"form-control"}) %>
        </div>
        <div class="mb-3">
        <%= f.submit "Registration",class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/second-footer" %>